@media (max-width: 576px) {
  body {
    max-width: 576px;
  }

  .box1 {
    height: 400px;
    background-color: #2bccc0;
  }

  .social {
    display: flex;
    margin-left: 0;
    margin-right: 5px;
  }

  #about {
    margin-top: 25px;
  }

  .box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  h2 {
    font-family: "Bitter", serif;
    text-align: center;
    color: black;
  }

  .article {
    width: 550px;
    height: 10px;
    margin-bottom: 200px;
  }

  .text {
    font-family: "Quicksand", sans-serif;
    text-align: left;
    color: black;
    margin: 0 auto;
  }

  img {
    display: none;
  }
}
