@media (max-width: 576px) {
  body {
    max-width: 576px;
  }

  .box1 {
    height: 400px;
    background-color: #33a8dd;
  }

  .social {
    display: none;
  }

  #welcome {
    font-family: "Bitter", serif;
    font-size: 48px;
    color: white;
    text-align: center;
    animation: bounceInLeft 4s;
    animation-iteration-count: 1;
  }

  #site {
    font-size: 58px;
  }

  .box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-top: 500px;
  }

  h2 {
    font-family: "Bitter", serif;
    text-align: center;
    color: black;
  }

  .article {
    width: 225px;
    height: 150px;
    margin-bottom: 200px;
  }

  .text {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    color: black;
  }
}
